.venv/
__pycache__/
.pytest_cache/
*.sqlite
logs/
data/crawler.db
data/catalog.parquet
data/catalog.jsonl
playwright-report/
playwright/.cache/
node_modules/
venv/
runs/
frontend/.next/
frontend/node_modules/
.model_cache/
Hugging Face – The AI community building the future._files
Hugging Face – The AI community building the future..html
SHL_AI_Research_InternPS.pdf
.DS_Store